* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    linear-gradient(135deg, #1e3c72, #2a5298);
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}
h1 {
    font-size: 30px;
    color: white;
    text-shadow: 0 0 10px white,
                 0 0 20px cyan,
                 0 0 30px cyan;
    text-align: center;
}
p{
    font-size: 25px;
    color: white;
    text-align: center;
}
h5{
    color: white;
    text-decoration: underline;
}
.master {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 500px;
    height: 450px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    animation: infinite 2s master;
    font-size: 50px;
}
.master::before,
.master::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 120px;
    background: black;
    top: 0;
}

/* Línea izquierda */
.master::before {
    left: 40%;
}

/* Línea derecha */
.master::after {
    right: 40%;
}
@keyframes master {
    from {
        box-shadow: 0 0 20px #00f2ff,
                    0 0 40px #00f2ff,
                    0 0 60px #00f2ff;
    }
    to {
        box-shadow: 0 0 30px #ff00c8,
                    0 0 60px #ff00c8,
                    0 0 90px #ff00c8;
    }
}
.hijo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    animation: infinite 1s hijo 3s ease-in-out infinite alternate;
      margin-top: 120px; /* mismo tamaño que las líneas */
      transform-origin: top center;
}

@keyframes hijo {
    from { transform: rotate(-10deg); }
    to { transform: rotate(10deg); }
}
.sub_hijo {
    border-radius: 10px 20px 30px;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    animation: infinite 2s sub;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
