<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animacion</title>
    <link rel="stylesheet" href="/Style/index.css">
</head>
<body>
    <div class="master">
       
        <div class="hijo">
            <h1>Feliz dia de la mujer </h1>
        </div>
        <div class="sub_hijo">
            <h5>En tu dia: </h5>
            <p>
                Eres la flor mas bella del jardin del creador, tu belleza no tiene comparacion.
                Veo las estrellas y  me hace acordar a ese brillo de tus ojos, quisiera ser escritor para que en mis poemas
                sean dedicados a esa belleza y resplandor.

            </p>
        </div>
    </div>
</body>
</html>